.vscode/**
.github/**
.gitattributes
.gitignore
.playwright-cli/**
.test-dist/**
artifacts/**
CONTRIBUTING.md
docs/**
node_modules/**
scripts/**
src/**
test/**
eslint.config.mjs
esbuild.mjs
tsconfig*.json
package-lock.json
*.vsix
dist/*.map
